.new-tweet {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
}

.action {
  display: flex;
  flex-direction: row;
  font-family: 'Bungee', cursive;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  padding: 0.2rem;
}

button {
  background-color: #4152a1;
  color: white;
  padding: 0.2rem .8rem;
}

textarea {
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: .20em solid #545149;
  resize: none;
}

.new-tweet label {
  /* position: absolute; */
  font-size: 1.2em;
  font-weight: 600;
}

.caution {
  border: .12em solid red;
  padding: 0.2rem .8rem;
  display: none;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: red;
  font-size: 0.8em;
}